<div class="ui-widget" id="recipient_autocomplete">
	<input id="user_message_receiver_visible" />
</div>
<div id="ausgabe"></div>


<% content_for :header_tags do %>
  <%= javascript_include_tag 'visualsearch/dependencies' %>
  <%= javascript_tag '
  var $j = $.noConflict();
	$j(function() {
		$j( "#user_message_receiver_visible" ).autocomplete({
			source: function( request, response ) {
				$j.ajax({
					url: "'+url_for(:controller => "users", :action => "member_search")+'",
  				dataType: "json",
					data: {
						maxRows: 12,
						q: request.term
					},
					success: function( data ) {
					  $j("#ausgabe").html("");
						response( $j.map( data, function( item ) {
						  console.log(item);
					    var $element = $j("<div class=\'project\' />");
					    $element.append($j("<h3>").text(item[0]));
					    var $tbl = $j("<table>");
					    for (var i = 0; i < item[1].length; i++) {
                $tbl.append($j("<tr>").append($j("<td>").text(item[1][i][0][\'firstname\']+" "+item[1][i][0][\'lastname\']+" ("+item[1][i][1]+")"),$j("<td>").append("<a href=\'/user_messages/new?id="+item[1][i][0][\'id\']+"\'>go</a>")));
              }

              $element.append($tbl);
  						$j("#ausgabe").append($element);
  						return false;
						}));
					}
				});
			},
			minLength: 2,
			select: function( event, ui ) {
				log(ui.item.label);
				return false;
			},
			open: function() {
				$j( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			},
			close: function() {
				$j( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			}
		});
});' %>
<% end %>